{% trans_default_domain 'FOSUserBundle' %}
{% extends "FrontendBundle::index.html.twig" %}

{% block content %}
    <div class="text-center">
        <h1 class="my-5 header-ruslan">Reset your password</h1>
        <div class="container text-center container-background-slavs">
            <p class="mt-5">{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
        </div>
        <div class="container text-center">
            <a class="btn my-2 button-background-slavs" href="{{ path("homepage") }}">Back to homepage</a>
        </div>
    </div>
{% endblock %}