{% extends "FrontendBundle::index.html.twig" %}

{% block content %}
    <div class="container text-center">
        <h1 class="my-5 header-ruslan">Reset your password</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                    <div class="row">
                        <div class="input-group">
                            <input class="form-control" type="text" name="username"
                                   required="required" placeholder="Email"/>
                        </div>

                    </div>
                    <input class="btn my-2 button-background-slavs button-background-slavs-red"
                           type="submit" value="Reset password"/>
                        <a class="btn my-2 button-background-slavs" href="{{ path("homepage") }}">Back to login</a>
                </form>

            </div>
        </div>
    </div>
{% endblock %}