{% extends "FrontendBundle::index.html.twig" %}

{% block content %}
    <div class="container text-center">
    <h1 class="my-5">Reset your password</h1>
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">

        <div class="row">
            <div class="col-12 col-md-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input class="form-control" type="text" name="username"
                       required="required" placeholder="Email"/>
            </div>
                <input class="form-control btn btn-danger my-2" type="submit" value="Reset password"/>

            </div>
            <div class="col-12 col-md-6">
            <h2><a href="/">Back to login</a></h2>
            </div>

    </div>
        </form>

{% endblock %}