{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="container-background-slavs">
                {% for error in errors %}
                    <p class="mt-3">{{ error.message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}