{% extends "FrontendBundle::index.html.twig" %}

{% block content %}
    {% if app.user %}
        <div class="row text-center">
            <div class="col-md-12">
                <p><b>Logged as {{ app.user.username }}</b></p>
                <a href="{{ path('play_game') }}" class="btn btn-danger" target="_blank"><i class="fab fa-game"></i>
                    Play</a>
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger"><i class="fab fa-logout"></i>
                    Logout</a>
            </div>
        </div>
    {% else %}
        {{ include('FrontendBundle::login_content.html.twig') }}
    {% endif %}
{% endblock %}
