<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Slavs - Slavian RPG game in WebGL</title>
    <meta name="description" content="Slavs - WebGL rpg game">
<script>
    var SESSION_TOKEN = '{{ sessionToken }}';
    console.log(SESSION_TOKEN);
</script>

</head>

<body>
    CANVAS - play slavs

</body>
</html>
