<h3>Login via social media</h3>
<a href="{{ path('hwi_oauth_service_redirect', { service: 'facebook' }) }}" class="btn btn-danger"><i class="fab fa-facebook"></i> Facebook</a>
<a href="{{ path('hwi_oauth_service_redirect', { service: 'google' }) }}" class="btn btn-danger"><i class="fab fa-google-plus-g"></i> Google+</a>
