<div class="row  justify-content-center">
    <div class="col-md-12">
        <h3 class="header-ruslan">Login via social media</h3>
    </div>
    <div class="col-md-12">
        <a href="{{ path('hwi_oauth_service_redirect', { service: 'facebook' }) }}" class="btn button-background-slavs-red"><i
                    class="fab fa-facebook"></i> Facebook</a>
        <a href="{{ path('hwi_oauth_service_redirect', { service: 'google' }) }}" class="btn button-background-slavs-red"><i
                    class="fab fa-google-plus-g"></i> Google+</a>
    </div>

</div>
