{% extends "FrontendBundle::index.html.twig" %}

{% block content %}
    <div class="text-center">
        <h1 class="my-5 header-ruslan">Register new account</h1>
        <div class="container text-center container-background-slavs">
            <p class="mt-5">Please check you mailbox and confirm Your email.</p>
        </div>
        <div class="container text-center">
            <a class="btn my-2 button-background-slavs" href="{{ path("homepage") }}">Back to homepage</a>
        </div>
    </div>
{% endblock %}