{% trans_default_domain 'FOSUserBundle' %}
{% extends "FrontendBundle::index.html.twig" %}

{% block content %}
    <div class="container text-center">
        <h1 class="my-5">Account has been confirmed.</h1>
    </div>

    <script>
        let timer = setTimeout(function() {
            window.location='/';
        }, 2000);
    </script>
{% endblock %}