body {
    color: #5a5a5a;
    background-color: black;
}

.gray-background {
    background-color: #222;
}

#flash-messages {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#inner-message {
    margin: 4px auto;
}

.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .featurette-heading {
        font-size: 50px;
    }
}

